<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include head.html %}

<body class="bg-gray-100 sm:p-2">
  <div class="container mx-auto mb-4">
    <div class="flex md:mb-4 py-4">
      <a href="/" class="flex no-underline text-gray-900 justify-between w-full">
        <img src="{{site.baseurl}}/assets/images/logo-color-dark.svg" alt="logo" class="w-20 logo mr-2" />
        <span class="block">Employee Handbook</span>
      </a>
    </div>

    {% include chapters.html %}


    <div class="bg-white py-4 px-2 rounded-md shadow-md border mt-4">
      <div class="flex-col">
        <div class="px-4 w-full">
          <p class="text-xs mb-0 text-gray-600">{{ page.chapter }}</p>
          <h1>{{ page.title }} </h1>
        </div>
        <div class="px-4 w-full flex flex-col">
          {{ content }}
          <div class="flex justify-between my-6">
            {% if page.prev_url %}
            <a class="text-xs font-bold btn mr-auto" href="{{ page.prev_url }}">
              <span class="hidden md:block">{{ page.prev_link }}</span>
              <span class="md:hidden">← Back</span>
            </a>
            {% endif %}
            {% if page.next_url %}
            <a class="text-xs font-bold btn ml-auto" href="{{ page.next_url }}"> {{ page.next_link }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
